* {
    box-sizing: border-box;
    padding:15;
    margin: 15;
    
}
body {
    background: white;
}

.container {
    display: flex;
}
.card {
    background: red;
    width: 240px;
    margin: 10px;
    border-radius: 15px 15px 0 0;
    
}
.card-image {
    background-image: url('https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/01/21/15480265236914.jpg');
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
}
.card a {
    background-color:yellow;
    padding: auto;
    color:blue);
    display: block;
}